<div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/marketplace/market">Marketplace</a></li>
                    <li class="breadcrumb-item"><a href="/marketplace/market?category={{ category_id }}">{{ category_name }}</a></li>
                    {# <li class="breadcrumb-item active" aria-current="page">{{ current_page }}</li>
                    <!-- copy link -->
                    <li class="breadcrumb-item">
                        <a href="javascript:void(0)" onclick="copyToClipboard('{{ current_page }}')">
                            <i class="bi bi-link-45deg"></i>
                        </a>
                    </li> #}
                </ol>
            </nav>
        </div>
    </div>