RewriteEngine On


# Only rewrite if the requested file or directory doesn't exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Route everything to public/index.php
RewriteRule ^ public/index.php [QSA,L]
