<header class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">

        <!-- Logo -->
        <h3><a href="/marketplace/" class="navbar-brand">Marketplace</a></h2>

        <!-- Toggler (for mobile) -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Nav Links -->
        <nav class="collapse navbar-collapse justify-content-end" id="navbarMain">
            <ul class="navbar-nav align-items-center">

                <!-- nav::section -->
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/market">Market</a>
                </li>
                <!-- nav::section::end -->


                <!-- action::section -->
                <li class="nav-item ms-2">
                    <a href="/logout" class="btn btn-danger btn-sm">
                        <i class="bi bi-box-arrow-right"></i> Logout
                    </a>
                </li>
                <!-- action::section::end -->
                
            </ul>
        </nav>

    </div>
</header>