<div class="row mb-4">
    <div class="col-12">
        <a href="/marketplace/market" class="btn btn-outline-secondary">
            <i class="fas fa-arrow-left me-2"></i>
            Back to Listings
        </a>
    </div>
</div>