{% extends "layouts/master.twig" %}
{% set title = user.name %}

{% block content %}

    <div class="mb-3">
        <h4><a href="/user/profile" class="text-decoration-none text-dark">{{ user.name }}</a> - Settings</h4>
        <p>Joined: <strong>{{ user.created_at|date('M d, Y') }}</strong></p>
    </div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs mb-3" id="profileTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="personal-tab" data-bs-toggle="tab" data-bs-target="#personal" type="button" role="tab" aria-controls="personal" aria-selected="true">
            Personal
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="preview-tab" data-bs-toggle="tab" data-bs-target="#preview" type="button" role="tab" aria-controls="preview" aria-selected="false">
            Ownership
            </button>
        </li>
    </ul>

    <!-- Tab content -->
    <div class="tab-content mt-3" id="profileTabsContent">

        <!-- personal info form -->
        <div class="tab-pane fade show active" id="personal" role="tabpanel" aria-labelledby="personal-tab">

            {% include "components/profile/personal-edit.twig" %}

        </div>

        <!-- ownership -->
        <div class="tab-pane fade" id="preview" role="tabpanel" aria-labelledby="preview-tab">

            {% include "components/profile/ownership-edit.twig" %}

        </div>
    </div>

{% endblock %}