{% extends "layouts/master.twig" %}

{% block title %}About Us - {{ parent() }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <h3 class="mb-4">About Our Marketplace</h1>
        <p class="lead">This is a simple about page that extends the master layout.</p>
        <p>Notice how this page automatically gets:</p>
        <ul>
            <li>Bootstrap CSS and JS</li>
            <li>The same HTML structure</li>
            <li>Consistent styling</li>
        </ul>
        <p>All we had to do was extend the master layout and fill in the content block!</p>
    </div>
</div>
{% endblock %} 