{% extends "layouts/master.twig" %}
{% set title = 'Home' %}

{% block content %}

    <div class="row">
        <h2>Home</h2>
        <p>This is the home page of a marketplace website.</p>
        <p>Marketplace is a platform that allows users to post their articles and buy products from other users.</p>
    </div>
    
{% endblock %}