{% extends "layouts/master.twig" %}
{% set title = 'Market' %}
    
{% block content %}

    <div class="row">
        <h4>Market</h4>
        <p>This is the market page of a marketplace website.</p>
    </div>

{% endblock %}